/* Footer.css */
.footer {
    background-color: #faf1b8; /* Yellow background color */
    padding: 20px;
    width: 100%; /* Ensure full width */
  }
  
  .footer-logo {
    font-weight: bold;
  }
  
  .footer-text p {
    margin-bottom: 10px;
  }
  
  .primary-menu,
  .secondary-menu {
    margin-bottom: 10px;
  }
  
  .primary-menu ul,
  .secondary-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
  }
  